@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@400;500;600;700&display=swap');

@tailwind base;

@layer base {
  h1 {
    @apply text-5xl;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-xl;
  }

  html {
    font-family: 'Alkatra', cursive;
    background: #1e1f29;
  }

  * {
    color: white;
  }

  .number::-webkit-outer-spin-button,
  .number::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

}

@tailwind components;
@tailwind utilities;