.ActivityCard {
    box-sizing: border-box;
    
    position: relative;
    width: 380px;
    height: 350px;
    transition: .5s;
}

.ActivityCard .lines {
    position: absolute;
    inset: 0;
    background: black;
    overflow: hidden;
    z-index: -1;
}

.ActivityCard .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #076ebc, #076ebc, #076ebc, transparent);
    animation: animate 3s linear infinite;
}

@keyframes animate {
    0% { transform: translate(-50%, -50%) rotate(0deg); }

    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.ActivityCard .lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: rgb(29, 28, 28);
}

.Info {
    box-sizing: border-box;
    position: absolute;
    top: 15px;
    left: 15px;
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
}

.Info h1 {
    font-size: 40px;
}

.barContainer{
   
    width: 200px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid orange;
}

.bar{
    /* width: 100%; */
    height: 100%;
    border-radius: 10px;
    animation-name: colorBar;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes colorBar {
    0%   {background-color:orange; }
    50%  {background-color:rgb(253, 190, 73);}
    100%  {background-color:orange;}
}

.Items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.Items img{
    width: 40px;
}