.Detail, .CountryData, .ActivitiesInfo, .DataContainer, .Data, .ActivitiesContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Detail {
    flex-direction: column;
    gap: 45px;
    margin-bottom: 50px;
}

.Detail h1{
    font-size: 45px;
    text-decoration: underline;
}

.CountryData {
    justify-content: space-between;
    padding: 10px 80px;
    box-sizing: border-box;
    width: 100%;
    background: rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    border-radius: 15px;
}

.CountryData img{
    width: 550px;
}

.DataContainer{
    width: 100%;
    flex-wrap: wrap;
    gap: 40px 40px;
}

.DataContainer img{
    width: 80px;
}

.Data{
    flex-direction: column;
    gap: 10px;
}

.Data h2 {
    font-style: italic;
}

.ActivitiesInfo{
    flex-direction: column;
    gap: 10px;
}