/* .FilterBar{
    background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
}

.FilterBar{
    display: flex;
    justify-content: flex-end;
    gap: 100px;
    padding-right: 50px;
    height: 10%;
    background-color: white;
}

.ActivityInfo{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    background-color: black;
    color: red
}

.Pagination {
    background-color: black;
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.Pagination button{
    color:black;
} */

.Home {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}